@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$family-sans-serif: 'Inter', sans-serif;

$primary: #E95122;
$primary-dark: #D63908;
$link: #E95122;
$info: #FBE6DA;
$info-invert: $primary;
$grey: #857D7A;
$grey-light: #ADA39F;
$grey-dark: #66666A;
$green: #39AF4C;

$navbar-background-color: transparent;
$footer-background-color: #ffffff;
$footer-padding: 1.5rem 1.5rem 0;
$card-radius: 1.5rem;

@import "../node_modules/bulma/bulma.sass";

.full-viewport-height {
    height: 100vh;

    > .container {
      height: 100%;
    }
}

a {
    color: $link;
}

a.button {
    border-radius: 1000px;
    padding: 1.6em 1.8em;
}

a.button:hover {
    text-decoration: none !important;
}

.round {
    height: 300px;
    width: 300px;
    border-radius: 150px;
    border: none;
    background: linear-gradient(224.98deg, #F4D0C9 2.82%, #EB6D46 39.79%, #E95122 56.97%, #D63908 101.23%);
    box-shadow: 0 8px 5px #FBE6DA;
}

.round:hover {
    background: $primary-dark;
    text-decoration: none;
}

.apply {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.domeLoan {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
}

.approved {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: $green;
}

.dome {
    position: absolute;
    width: 100%;
    margin-top: 1.5rem;
    height: 70%;

    @media screen and (max-width: $desktop) {
        min-width: $desktop;
        margin-left: calc((100vw - #{$desktop}) / 2);
    }

}

.big-dome {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 100%;

    @media screen and (max-width: $desktop) {
        min-width: $desktop;
        margin-left: calc((100vw - #{$desktop}) / 2);
    }
}

.stitch-footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.stitch-footer-text-orange {
    text-decoration: none;
    color: $primary;
    font-weight: bold;
    line-height: 150%;
}



.transparent {
    background: none;
}

.report-card-title {
    @extend .is-size-6;
    @extend .has-text-black;
    @extend .has-text-weight-bold;
    @extend .is-uppercase;
}

.card {
    height: 100%;
}

.recharts-legend-item {
    font-size: 12px;
}

.recharts-wrapper svg{
    overflow: inherit !important;
}

.recharts-pie-label-text {
    font-size: 12px;
}

th {
    min-width: 100px;
}
